include:
  - project: "replixio/cargo/gitlab-ci-templates"
    file: "/git/credential.yml"

  - project: "replixio/cargo/gitlab-ci-templates"
    file: "/cargo/test.yml"

stages:
  - test

basic:test:
  extends: .cargo:test
  image: registry.gitlab.com/replixio/images/build-dev:default-20200615
